<h3 class="page-header">Edit Author</h3>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %><br>
    <div class="btn-row">
        <button class="btn btn-primary"><a href="/authors/<%= author.id%>">Cancel</a></button>
        <input class="btn btn-primary" type="submit" value="Update">
    </div>
</form>
<%- include('../partials/errorMessage.ejs') %>